/* RESET */
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* COMMON */

.container1 {
    max-width: 800px;
    margin: 0 auto;
}
.container2{
    max-width:800px;
    margin: 0 auto;
}
/* Typography */
body {
    background-color: rgb(255, 255, 255);
}
/* Utlities */

/* Layout */
/* HEADER */
header {
    background-color: lightblue;
    padding:10px;
}

.menu {
    background: orange;
    padding: 10px;
    display: flex;
    justify-content: center;
    border: 1px solid;
}

.menu > div {
    width: 100%;
}


/* MAIN */
main {
    background:rgb(31, 31, 125);
    padding:20px; 
    min-height:100px;   
}
.inizio {
    background: rgb(231, 146, 221);
    padding:80px;
    margin: 0 auto;
    display:flex;
    justify-content:center;
    border:1px solid;  
    min-height:100px;
    width: 70%;   
}






/* FOOTER */


.red {
    padding: 20px;
    background-color: red;
}